.row{
  margin-left: 20px;
}

#titleWell {
  box-sizing: border-box;
  /*width: 1000px;*/
  padding-left: 100px;
}

#finalScreen {

}

.container {
  height: 1500px;
  border: 0px dotted black;
  background-color: white;
}

#mainIntro {
  width: 1400px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 34%;
  margin-left: -(100/2)px;
  margin-top: -(100/2)px;

}

#mainIntroTitle {
  font-size: 100px;
}

#introWell {
  width: 820px;
}

#leftPicture {
  width: 300px;
}
