#topOfPage {
  display: none;
}

form {
  display: none;
}

#mainIntro {
  width: 1400px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 30%;
  margin-left: -(100/2)px;
  margin-top: -(100/2)px;

}


#mainIntroTitle {
  font-size: 100px;
}

#entryButton {

}
